[MASTER]
# Maximum number of characters on a single line
max-line-length=120
min-public-methods=0

[MESSAGES CONTROL]
# Disable the message "C0114: Missing module docstring"
# Disabled the message "W0511: fixme"
# Disabled the message "R0913: Too many arguments"
disable=C0114, W0511, R0913

[FORMAT]
# Disabled the message "W0603: Using the global statement"
disable=W0603
